# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
notifly

# Test binary
*.test

# Go build cache
*.out

# Environment files
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Redis
dump.rdb
